	.ps-rel {
		position: relative;
	}
	.ps-abs {
		position:absolute;
	}
	.ps-fixed {
		position:fixed;
	}
	.ps-static {
		position:static;
	}
	.right-40 {
		right: 40px;
	}
	.right-70 {
		right: 70px;
	}
	.bottom-10 {
		bottom: 10px;
	}
